<div id="pageflip-toggle">
    <!-- {% if pageflipper_disabled %}
    Pageflipper: <a rel="nofollow" title="turn pageflipper off" href="/toggle_pageflipper/">Off</a> : 
    <span class="on">On</span> &nbsp;|&nbsp; <a href="/pages/pageflipper-help" rel="help" class="toggler closed annul" id="toggle-help" title="Show/Hide Help">
    Help</a>
    {% else %}
    Pageflipper: <span class="on">Off</span> : 
    <a title="turn pageflipper on" rel="nofollow" href="/toggle_pageflipper/">On</a> &nbsp;|&nbsp; 
    <a href="/pages/pageflipper-help" rel="help" class="toggler closed annul" id="toggle-help" title="Show/Hide Help">
    Help</a>
    {% endif %} -->
</div>