{% extends "base.html" %}
{% load markup %}
{% load article_extras %}

{% block title %}projects{% endblock %}
{% block extrahead %}
<style type="text/css" media="screen">
	#side-nav { width:12em;  }
	.project h3 { color:#{{ featured_issue.hex_color }};}
	a { color:#{{ featured_issue.hex_color }};}
	a:hover { color:#000;}
</style>
{% endblock %}
{% block sectionid %}projects{% endblock %}
{% block breadcrumb %}<a href="/">Home</a> / <a href="/projects/">projects</a>{% endblock %}

{% block side-nav %}
	<h3><span>all projects</span></h3>

	<ul class="project-list">
	{% for object in issue_list %}
		{% if object.active %}
		<li><a href="/projects/issue{{ object.slug }}/">Issue {{ object.name }}</a></li>
		{% endif %}
	{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	<h2>current projects</h2>

	{% for project in project_list reversed %}
		{% if project.is_active %}
			{% include "articles/project_listing.html" %}
		{% endif %}
	{% endfor %}
	
{% endblock %}