{% extends "base.html" %}
{% block title %}submit{% endblock %}
{% block breadcrumb %}<a href="/">Home</a> / Submit{% endblock %}
{% block extrahead %}
	<style type="text/css" media="screen">
		#side-nav { display:none; }
		#content  { width:50em; }
		.project h3 { color:#{{ current_issue.hex_color }};}
	</style>
	<script src="/media/js/form_validator.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block side-nav %}
	<!-- <ul>
	<li>about LAB</li>
	<li>Introduction letter from [issue 0.5]</li>
	</ul> -->
{% endblock %}

{% block content %}
	<h2>submit</h2>

	<div class="intro">
		<p>
			Feedback? Questions? Link suggestion? Recipes or knitting tips? Fire away. Feel free to submit material (preferably in PDF format, and smaller than 2mb).
		</p>
	</div>


{% if form.has_errors %}
<div class="alert">
<h3>There were errors in your submission.</h3>
<p>Please address the marked field{{ errors|pluralize }}:</p>
</div>
{% endif %}

<form id="contact-form" enctype="multipart/form-data" action="" method="post" >
<fieldset>
	{% if form.message.errors %}
		<p class="error">{{ form.message.errors|join:", "}}</p>
	{% endif %}
	 <label class="required" for="id_message">Message:</label>
	{{ form.message }}<br />

	{% if form.subject.errors %}
		<p class="error">{{ form.subject.errors|join:", "}}</p>
	{% endif %}
	 <label for="id_subject">Subject:</label>
	{{ form.subject }}<br />

	{% if form.name.errors %}
		<p class="error">{{ form.name.errors|join:", "}}</p>
	{% endif %}
	 <label class="required" for="id_name">Name:</label>
	{{ form.name }}<br />

	{% if form.from.errors %}
		<p class="error">{{ form.from.errors|join:", "}}</p>
	{% endif %}
	 <label class="required" for="id_from">Email:</label>
	{{ form.from }}<br />

	<div class="spacer">&nbsp;</div>
	
	{% if form.fileUpload.errors %}
		<p class="error">{{ form.fileUpload.errors|join:", "}}</p>
	{% endif %}
	 <label for="id_fileUpload">File Upload:</label>
	{{ form.fileUpload }}{{ form.fileUpload_file }}<br />

</fieldset>

	<div id="actions"><input id="submit-button" type="submit" value="submit!" /></div>
</form>

<script type="text/javascript">

		var frmvalidator = new Validator("contact-form");
		frmvalidator.addValidation("from","req","Please enter your email.");
		frmvalidator.addValidation("from","email","Email did not validate. Please double-check your email.");
		frmvalidator.addValidation("name","req","Please enter a name.");
		frmvalidator.addValidation("message","req","Please enter a message.");

</script>
{% endblock %}
